<div class='col-lg-4'>
  <div class="card">
    <%= link_to post do %>
      <img class="card-topper" id="image-bg-<%= post.id%>" src="/uploads/<%= post.id%>/untitled.1.jpg">
        <script>
          $(function(){
            $('#image-bg-<%= post.id%>').reel({
              images:      '/uploads/<%= post.id%>/untitled.#.jpg',
              frames:      '<%= post.frames%>',
              cw:          true,
            });
          });
        </script>
    <% end %>
    <div class="card-block">
      <h4 class="card-title"><%= link_to post.title, post %></h4>
      <p class="tags"><%= raw post.tags.map { |t| link_to t.name, posts_path(tag: t.name)}.join(', ') %></p>
      <%= link_to post do %>
        <p class="card-text"><%= truncate(strip_tags(post.body), length: 100) %></p>
      <% end %>
      <div class="author-bio">
        <div class="author-img"><%= image_tag(post.author.gravatar_image_url) %></div>
        <div class="author-published-date">
          <%= link_to post.author.name, posts_path(author_id: post.author.id) %>          
          <br><%= post.display_day_published %></br>
        </div>
      </div>
    </div>
  </div>
</div>